.container {
	width: 1200px;
	margin: 0px auto;
}

.row {
	clear: both;
	margin: 0px 15px;
	width: 100%;
}

.col-md-12 {
	float: left;
	width: 100%;
}

.col-md-6 {
	float: left;
	width: 50%;
}

.col-md-3 {
	float: left;
	width: 20%;
}

.col-md-2 {
	float: left;
	width: 15%;
}

.title-page {
	color: #364049;
	border-bottom: 1px solid #ccc;
}

.crumb {
	margin: 15px 0px;
	color: #bcbec0;
}

.title-widget h4 {
	color: #6d6e71;
	margin-left: 25px;
	font-size: 15px;
}

.widget {
	padding: 25px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 25px rgba(0, 0, 0, .08);
	box-shadow: 0 1px 25px rgba(0, 0, 0, .08);
	border-radius: 10px;
	margin: 0px 15px;
	height: 220px;
}

.modul-img {
	text-align: center;
}

.modul-img:hover {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 25px rgba(0, 0, 0, .08);
	box-shadow: 0 1px 25px rgba(0, 0, 0, .08);
}

.modul-img img {
	width: 80px;
	height: 80px;
	text-align: center;
	margin-top: -20px;
}

.modul-img h6 {
	font-size: 12px;
	color: #808285;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 18px;
}

.colom {
	padding: 20px;
	background-image: linear-gradient(90deg, #278e2f 0%, #0ba60e 35%, #0ba60e 100%);
	-webkit-box-shadow: 0 1px 25px rgba(0, 0, 0, .08);
	box-shadow: 0 1px 25px rgba(0, 0, 0, .08);
	border-radius: 10px;
	margin: 0px 15px;
	height: 230px;
}

.colom span {
	border-bottom: 1px solid #ffffff57;
	padding: 14px 5px;
	display: block;
	margin-top: -10px;
}

.isi {
	font-size: 12px;
	color: white;
}

.customer {
	color: white;
	margin-left: 8px;
}

hr {
	color: white;
}

#chartContainer {
	height: 100px;
}